body {
  background-color: #888;
}

#banner {
  position: fixed;
}

.section {
  width: 100%;
  height: 500px;

  border: 1px solid blue;
}

.scrollable {
  width: 100%;
  height: 500px;

  border: 1px solid orange;
}

#home {

  background-color: white;

}


